<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glorious Surfer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86D2CDAF29C1631C00290AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86D2CDC029C1631D00290AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86D2CDE629C1FF3000290AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86D2CE1D29C24EE700290AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
